<h1>Contact</h1>

<div class="container">
  <form action="blank">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Subject</label>
    <select id="subject" name="subject">
      <option value="purchase">Purchase</option>
      <option value="delivery">Delivery</option>
      <option value="refund">Refund</option>
    </select>

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
